<div class="question-body">
    <div class="question-menu">
        <div class="question-menu-icon">
            <img src="./images/Butterfly.svg" alt="">
        </div>
    </div>
    <div class="question-body-container">
        <div class="question-header">
            <img id="imgEditMoood" src="./images/EditIcon.svg" alt="" onclick="editMood()">
            <div class="question-header-mood">
                <img id="imgMood" src="./images/<%= mood.icon %>" alt="">
            </div>
            <div class="question-header-title">
                <h4 id="moodTitle">
                    <%= mood.message %> Thank you for your feedback.
                </h4>
                <div class="question-header-title-note">
                    Your answers will <strong>always remain anonymous</strong>
                </div>
            </div>
            <div class="question-header-company-container">
                <div class="question-header-company"> <%= company %> </div>
            </div>
        </div>

        <div class="edit-mood-container">
            <div class="edit-mood-title">
                Did you make a mistake? Please select your correct mood:
            </div>
            <div class="eidt-mood-emoji-container">
                    <img src="./images/VeryUnhappy.svg" alt="" onClick="setMood(1)">
                    <img src="./images/Unhappy.svg" alt="" onClick="setMood(2)">
                    <img src="./images/Neutral.svg" alt="" onClick="setMood(3)">
                    <img src="./images/Happy.svg" alt="" onClick="setMood(4)">
                    <img src="./images/VeryHappy.svg" alt="" onClick="setMood(5)">
            </div>
        </div>

        <form action="" class="question-from">
            <h1>Do you agree with the following statements:</h1>

            <% for ( [i,question] of questions.entries() ) { %>

                <div class="question-form-tile">
                    <div class="question-form-tile-arrow"></div>
                    <div class="question-form-tile-number">
                        <%= i+1 %> 0f 5
                    </div>
                    <div class="question-form-tile-category">
                        <%= question.category %>
                    </div>
                    <div class="question-form-tile-question">
                        <h4>
                            <%= question.question %>
                        </h4>
                    </div>
                    <div class="question-form-rate-container">
                            <div class="question-form-star-container">
                                <div class="question-form-star-item" data-value="10">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="9">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="8">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="7">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="6">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="5">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="4">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="3">
                                    <div class="question-form-star">
                                        <img src="./images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="2">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                                <div class="question-form-star-item" data-value="1">
                                    <div class="question-form-star">
                                        <img src="/images/StarIcon.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="question-form-rate-range">
                                <span>Disagree</span>
                                <span>Agree</span>
                            </div>
                            <button class="btn-add-comment" data-id="<%= i+1 %>" onclick="addComment(this); return false;"> Add Comment</button>
                            <div class="add-comment-textarea">
                                <textarea id="txtAddComment<%= i+1 %>" placeholder="Anything to add for Management?"></textarea>
                            </div>

                        </div>
                    </div>
                    <% } %>

                    <div class="question-from-add-aynthing">
                        <div class="question-form-tile-arrow" style="border-right: 8px solid #1b828e;"></div>
                        <div class="question-form-add-aynthing-header">
                            <h4>Anything to add? (optional)</h4>
                            <div class="question-form-add-aynthing-circle">
                                Extra feedback helps
                            </div>
                        </div>
                        <textarea id="txtAddAnything" placeholder="Express yourself freely and safely. This will always remain anonymous."></textarea>
                    </div>
    
                    <button id="btnSend" class="btnSend-default">Send</button>
        </form>
    </div>
</div>